
.ground{
	
	background-image: url("../images/background.jpg");
	opacity:0.1;
	width:100%;
	height:100%;
	border:2px;
	position: absolute;
	z-index: -1;
		
}
.header{
background-image: url("../images/banner3.jpg");	
	
	
	height:128px;
}
nav.bar{
	overflow:hidden;
	
	min-width:1000px;
}
 ul.ulbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #00cc00;
	}

ul.ulbar li {
    display: inline-block;
	
	width: 200px;
}

ul.ulbar li a {
    display: block;
	
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.ulbar li a:hover {
    background-color: #28a428;
	color: black;
}

.productMenu{
		
	float:left;
	width:200px;
	min-width:200px;
	height:500px;
	 border: 2px solid green;
}

.productArea{
	margin-left:210px;
	
	
}

div.productshow{
	width:200px;
	height: 220px;
	border: 1px   solid green;
	margin:5px 5px 5px 5px;
	display:inline-block;
}
div.productshow span{
	margin-left:10px;
	
}
div.productshow img{
	
	width:200px;
	height: 180px;
	border: 5px  green;
}
table.ordertable{
	border: 1px  solid green;
	width:100%;
	margin-top:10px;
}
table.ordertable tr , th, td{
	border: 1px  solid green;
	
	
}

.submitclass{
	margin:5px 5px 5px 35%;
	width: 25%;
	height:30px;
	
}